<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instructors Main Page</title>
    <link rel="stylesheet" href="/homeInstructor.css" />
  </head>
  <body>
    <div class="navigation">
      <ul>
        <li>
          <a href="/dashboared-Home">
            <span class="icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="#000000"
                viewBox="0 0 24 24"
                width="24px"
                height="24px"
              >
                <path
                  d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 11 21 L 11 15 L 13 15 L 13 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z M 12 4.7910156 L 18 10.191406 L 18 11 L 18 19 L 15 19 L 15 13 L 9 13 L 9 19 L 6 19 L 6 10.191406 L 12 4.7910156 z"
                /></svg
            ></span>
            <span class="title">HOME</span>
          </a>
        </li>
        <li>
          <a href="/inbox-instructor">
            <span class="icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Layer_1"
                x="0px"
                y="0px"
                viewBox="0 0 122.88 122.39"
                style="enable-background: new 0 0 122.88 122.39"
                xml:space="preserve"
              >
                <style type="text/css">
                  <![CDATA[
                                    .st0{fill-rule:evenodd;clip-rule:evenodd;}
                              ]]>
                </style>
                <g>
                  <path
                    class="st0"
                    d="M4.59,122.39h113.7c2.52,0,4.59-2.08,4.59-4.63l-0.11-36.56c-0.01-2.49-0.36-3.78-1.26-6.11l-17.93-61.16 c-0.81-2.12-1.86-4.12-4.12-4.12H85.71v14.66h6.5l16.19,53.89l0,0H84.5l-10.91,14.7H49.38l-11-14.7H14.3l16.87-53.89h6V9.8H24.22 c-2.27,0-3.28,2.02-4.12,4.12L1.15,75.86c-0.91,2.28-1,3.58-1.01,6.06L0,117.76C0,120.31,2.07,122.39,4.59,122.39L4.59,122.39 L4.59,122.39z M52.74,0h17.41v37.46h14L61.46,63.47L38.73,37.46h14V0L52.74,0L52.74,0z"
                  />
                </g></svg
            ></span>
            <span class="title">INBOX</span>
          </a>
        </li>
        <li>
          <a href="/html/help.html">
            <span class="icon"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                id="Layer_1"
                data-name="Layer 1"
                viewBox="0 0 122.88 112.92"
              >
                <title>headset</title>
                <path
                  d="M15.31,87.55a20.54,20.54,0,0,0,1.23,4.65,12.43,12.43,0,0,0,2.75,4.26c3.88,3.85,8.92,3.84,14.44,3.84v0h2.62c2.27-3.27,7.6-5.56,13.8-5.56,8.27,0,15,4.07,15,9.1s-6.71,9.1-15,9.1c-6.07,0-11.3-2.2-13.65-5.36H33.73c-7.08,0-13.55,0-19.55-5.94A19.78,19.78,0,0,1,9.8,94.93,28.6,28.6,0,0,1,8,87.55a8.2,8.2,0,0,1-8-8.18V49.87a8.2,8.2,0,0,1,8.18-8.18h.58c1.48-15.15,11-27,23.87-34.09A61.85,61.85,0,0,1,57.37.2,58.06,58.06,0,0,1,83.32,3.87c14.45,5.71,26.56,17.84,31.25,37.82h.13a8.2,8.2,0,0,1,8.18,8.18v29.5a8.2,8.2,0,0,1-8.18,8.18h-8.18V42.41C102.33,26,92.29,16,80.38,11.32A50,50,0,0,0,58,8.18a53.66,53.66,0,0,0-21.49,6.39C25.37,20.75,17.24,31,16.58,44.05a4,4,0,0,1-.22,1.15V87.55Z"
                /></svg
            ></span>
            <span class="title">HELP</span>
          </a>
        </li>
        <li>
          <a href="/setting-instructor">
            <span class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                id="Layer_1"
                data-name="Layer 1"
                viewBox="0 0 122.88 122.88"
              >
                <defs>
                  <style>
                    .cls-1 {
                      fill-rule: evenodd;
                    }
                  </style>
                </defs>
                <title>gear</title>
                <path
                  class="cls-1"
                  d="M73.48,15.84A46.87,46.87,0,0,1,84.87,21L91,14.84a7.6,7.6,0,0,1,10.72,0L108,21.15a7.6,7.6,0,0,1,0,10.72l-6.6,6.6a46.6,46.6,0,0,1,4.34,10.93h9.52A7.6,7.6,0,0,1,122.88,57V65.9a7.6,7.6,0,0,1-7.58,7.58h-9.61a46.83,46.83,0,0,1-4.37,10.81L108,91a7.6,7.6,0,0,1,0,10.72L101.73,108A7.61,7.61,0,0,1,91,108l-6.34-6.35a47.22,47.22,0,0,1-11.19,5v8.59a7.6,7.6,0,0,1-7.58,7.58H57a7.6,7.6,0,0,1-7.58-7.58v-7.76a47.39,47.39,0,0,1-12.35-4.68L31.87,108a7.62,7.62,0,0,1-10.72,0l-6.31-6.31a7.61,7.61,0,0,1,0-10.72l4.72-4.72A47.38,47.38,0,0,1,14,73.48H7.58A7.6,7.6,0,0,1,0,65.9V57A7.6,7.6,0,0,1,7.58,49.4h6.35a47.2,47.2,0,0,1,5.51-12.94l-4.6-4.59a7.62,7.62,0,0,1,0-10.72l6.31-6.31a7.6,7.6,0,0,1,10.72,0l5,5A46.6,46.6,0,0,1,49.4,15V7.58A7.6,7.6,0,0,1,57,0H65.9a7.6,7.6,0,0,1,7.58,7.58v8.26ZM59.86,36.68a24.6,24.6,0,1,1-24.6,24.59,24.59,24.59,0,0,1,24.6-24.59Z"
                />
              </svg>
            </span>
            <span class="title">SETTING</span>
          </a>
        </li>
        <li class="logout-li">
          <form action="/logout" method="post">
            <button
              class="logout-btn"
              style="
                background-color: #f0a500;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                border-style: none;
                margin-left: 19px;
                font-size: 20px;
              "
            >
              <span class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1"
                  id="Capa_1"
                  x="0px"
                  y="0px"
                  viewBox="0 0 384.971 384.971"
                  style="enable-background: new 0 0 384.971 384.971"
                  xml:space="preserve"
                >
                  <g>
                    <g id="Sign_Out">
                      <path
                        d="M180.455,360.91H24.061V24.061h156.394c6.641,0,12.03-5.39,12.03-12.03s-5.39-12.03-12.03-12.03H12.03    C5.39,0.001,0,5.39,0,12.031V372.94c0,6.641,5.39,12.03,12.03,12.03h168.424c6.641,0,12.03-5.39,12.03-12.03    C192.485,366.299,187.095,360.91,180.455,360.91z"
                      />
                      <path
                        d="M381.481,184.088l-83.009-84.2c-4.704-4.752-12.319-4.74-17.011,0c-4.704,4.74-4.704,12.439,0,17.179l62.558,63.46H96.279    c-6.641,0-12.03,5.438-12.03,12.151c0,6.713,5.39,12.151,12.03,12.151h247.74l-62.558,63.46c-4.704,4.752-4.704,12.439,0,17.179    c4.704,4.752,12.319,4.752,17.011,0l82.997-84.2C386.113,196.588,386.161,188.756,381.481,184.088z"
                      />
                    </g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </span>
              <span class="title">LOGOUT</span>
            </button>
          </form>
        </li>
      </ul>
    </div>

    <main>
      <div class="Courses_div">
        <h2 class="secondary_header_courses">COURSES:</h2>
        <ul class="courses_lists">
          <% for(var i = 0; i < courseFinal.length; i++ ) { %>
          <li>
            <button class="button_1">
              <a
                href="/course-section"
                style="text-decoration: none; color: black"
                ><%= courseFinal[i].course_code %> <%=
                courseFinal[i].course_name %></a
              >
            </button>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="Inbox_div">
        <h2 class="secondary_header_inbox">MESSAGES:</h2>
        <ul class="messages_lists">
          <li class="message_list inbox">
            <svg
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 58 58"
              style="enable-background: new 0 0 58 58"
              xml:space="preserve"
            >
              <g>
                <path
                  d="M21.707,24.293c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414l7.999,7.999c0.001,0.001,0.001,0.001,0.002,0.002
             L29,34.414l0.706-0.706c0.001-0.001,0.001-0.001,0.002-0.002l7.999-7.999c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0
             L30,30.586V3c0-0.552-0.447-1-1-1s-1,0.448-1,1v27.586L21.707,24.293z"
                />
                <path
                  d="M57.981,32.676L57.53,32h-0.009l-3.583-5.381l-2.421-3.628l0.004-0.002L47.535,17H36v2h10.465l8.679,13H39v7H19v-7H2.856
             l8.679-13H22v-2H10.465L0.431,32.031l-0.014,0.001L0,32.655v0.206v0.396v19.359C0,54.482,1.519,56,3.385,56h51.23
             C56.481,56,58,54.482,58,52.616V33.239v-0.429l-0.014-0.036L57.981,32.676z"
                />
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
            <a class="aa" href="/inbox-instructor">inbox</a>
          </li>
          <li class="message_list outbox">
            <svg
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 58 58"
              style="enable-background: new 0 0 58 58"
              xml:space="preserve"
            >
              <g>
                <path
                  d="M36.293,12.121c0.391,0.391,1.023,0.391,1.414,0s0.391-1.023,0-1.414l-7.999-7.999c-0.001-0.001-0.001-0.001-0.002-0.002
		L29,2l-0.706,0.706c-0.001,0.001-0.001,0.001-0.002,0.002l-7.999,7.999c-0.391,0.391-0.391,1.023,0,1.414s1.023,0.391,1.414,0
		L28,5.828v27.586c0,0.552,0.447,1,1,1s1-0.448,1-1V5.828L36.293,12.121z"
                />
                <path
                  d="M57.981,32.676L57.53,32h-0.009l-3.583-5.381l-2.421-3.628l0.004-0.002L47.535,17H36v2h10.465l8.679,13H39v7H19v-7H2.856
		l8.679-13H22v-2H10.465L0.431,32.031l-0.014,0.001L0,32.655v0.206v0.396v19.359C0,54.482,1.519,56,3.385,56h51.23
		C56.481,56,58,54.482,58,52.616V33.239v-0.429l-0.014-0.036L57.981,32.676z"
                />
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>
            <a class="aa" href="/outbox-instructor"> outbox</a>
          </li>
          <li class="message_list compose">
            <svg
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 58 58"
              style="enable-background: new 0 0 58 58"
              xml:space="preserve"
            >
              <g>
                <path
                  d="M50.466,43.995l6.483-3.242l-17.637-6.498l6.498,17.638l3.242-6.484l6.797,6.797c0.195,0.195,0.451,0.293,0.707,0.293
		s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L50.466,43.995z M42.688,37.631l9.232,3.402l-3.887,1.943l-1.943,3.888
		L42.688,37.631z"
                />
                <path
                  d="M57.995,6.477c-0.002-0.111-0.019-0.222-0.06-0.33c-0.003-0.007-0.008-0.012-0.01-0.019
		c-0.011-0.027-0.029-0.049-0.042-0.075c-0.041-0.081-0.089-0.155-0.148-0.22c-0.026-0.029-0.054-0.052-0.083-0.078
		c-0.062-0.054-0.129-0.099-0.202-0.136c-0.033-0.017-0.063-0.035-0.098-0.048C57.24,5.529,57.124,5.5,57,5.5H1
		c-0.124,0-0.24,0.029-0.351,0.071C0.614,5.584,0.584,5.602,0.551,5.619C0.478,5.656,0.411,5.701,0.348,5.755
		C0.319,5.781,0.292,5.804,0.266,5.833c-0.06,0.065-0.108,0.14-0.149,0.221C0.104,6.079,0.086,6.101,0.075,6.128
		C0.072,6.134,0.067,6.14,0.064,6.146c-0.041,0.108-0.057,0.219-0.06,0.33C0.004,6.485,0,6.492,0,6.5v39
		c0,0.003,0.002,0.006,0.002,0.009c0.001,0.107,0.017,0.214,0.053,0.319c0.004,0.012,0.013,0.022,0.018,0.034
		c0.013,0.034,0.034,0.063,0.051,0.095c0.039,0.074,0.082,0.142,0.137,0.203c0.028,0.031,0.056,0.058,0.088,0.085
		c0.06,0.053,0.126,0.096,0.197,0.133c0.034,0.018,0.066,0.037,0.102,0.051C0.759,46.471,0.876,46.5,1,46.5h35c0.553,0,1-0.447,1-1
		s-0.447-1-1-1H3.879c4.548-3.604,14.801-11.781,20.069-16.403l1.421,1.255c1.002,0.894,2.317,1.341,3.633,1.341
		c1.313,0,2.626-0.446,3.625-1.337L56,8.718V36.5c0,0.553,0.447,1,1,1s1-0.447,1-1v-30C58,6.492,57.996,6.485,57.995,6.477z
		 M2,43.437V8.718l20.437,18.046C16.881,31.617,6.086,40.204,2,43.437z M31.299,27.86c-1.267,1.132-3.331,1.132-4.602-0.004
		l-1.979-1.747c-0.005-0.007-0.007-0.015-0.012-0.021c-0.022-0.025-0.053-0.035-0.077-0.058L3.644,7.5h50.713L31.299,27.86z"
                />
              </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
            </svg>

            <a class="aa" href="/compose-message-instructor">compose message</a>
          </li>
        </ul>
      </div>
      <div class="section_div">
        <div class="section_div1">
          <img
            class="info_img"
            src="./img/instructorImg/<%= userFind.image %>"
            alt=""
          />

          <p class="sec_parag1">instructor</p>
        </div>
        <p class="sec_parag"><%= userFind.full_name %></p>
        <p class="sec_parag"><%= userFind.nationality %></p>

        <p class="sec_parag"><%= userFind.department %></p>
        <p class="sec_parag"><%= userFind.email %></p>
      </div>
    </main>
  </body>
</html>
